<% title "Dashboard" %>
<div class="row-fluid">
  <div class="span4">
    <div class="hero-unit">
      <h2>Networks</h2>
      <p><%= @networks %> redes gestionadas</p>
      <p><%= @ocupacion %>% de ocupación en las redes</p>
      <p><%= link_to(h("Nueva red"),new_network_path) %>
    </div>
  </div>
  <div class="span4">
    <div class="hero-unit">
      <h2>Activos</h2>
      <p><%= @activos %> activos gestionados</p>
      <p><%# link_to(h("Nuevo activo"),new_activo_path) %></p>
    </div>
  </div>
  <div class="span4">
    <div class="hero-unit">
      <h2>IP's</h2>
      <p><%= @ips %> IP's gestionadas</p>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span8">
    <div class="hero-unit tags-cloud">
      <h2>Tags</h2>
      <div><%= render :inline => tags_cloud %></div>
    </div>
  </div>
  <div class="span4">
    <div class="hero-unit">
      <h2>VLAN's</h2>
      <p><%= @vlans %> vlans gestionadas</p>
    </div>
  </div>
</div>
