<% title "Redes gestionadas (#{Network.count})" %>
<%= will_paginate @networks %>
<% content_for :actions do %>
  <% render_navigation :items => networks_actions, :renderer => :links %>
<% end %>
<% if @networks.length == 0 %>
  <div class="hero-unit">
    No existen redes gestionadas
  </div>
<% else %>
  <table class="table table-condensed">
    <thead>
      <th>LAN</th>
      <th>Nombre</th>
      <th>VLAN</th>
    </tr>
  </thead>
  <tbody>

    <% for network in @networks %>
  <tr>
    <td style="text-align: right;"><%= link_to(h(network),network) %>
    <% if logged_in? %>
      <%= link_to(
        content_tag(:i,"",:class => "icon-edit"),
        edit_network_path(network),
        :title => "Editar") -%>

      <%= link_to(
        content_tag(:i,"",:class => "icon-trash"),
        network,:confirm => "¿Está seguro de borrar la red?",
        :method => :delete,
        :title => "Borrar") -%>

    <% end %>
  </td>
  <td>
    <%=h network.name %>
  </td>
</td>
<td>
  <% if network.vlan %>
    <%= network.vlan.tag.to_s + " - " + network.vlan.name %>
  <% else %>
    &nbsp;
  <% end %>
</td>
</tr>
<% end %>
</tbody>
</table>
<% end %>
