<% title "Vlans gestionadas (#{Vlan.count})" %>
<%= will_paginate @vlans %>
<% content_for :actions do %>
  <% render_navigation :items => vlans_actions, :renderer => :links %>
<% end %>
<table class="table">
  <thead>
    <th>Tag</th>
    <th>Nombre</th>
    <th>Redes asociadas</th>
  </thead>
  <tbody>
    <% for vlan in @vlans %>
      <tr>
        <td style="text-align: right;">
          <%= vlan.tag %>
          <% if logged_in? %>
          <%= link_to(
            content_tag(:i,"",:class => "icon-edit"),
            edit_vlan_path(vlan),
            :title => "Editar") -%>
          <%= link_to(
            content_tag(:i,"",:class => "icon-trash"),
            vlan,:confirm => "¿Está seguro de borrar la vlan?",
            :method => :delete,
            :title => "Borrar") -%>
        <% end %>
        </td>
        <td><%= vlan.name %></td>
        <td>
          <% vlan.networks.each do |net| %>
            <%= link_to(h("#{net} - #{net.name}"), network_path(net))  %><br/>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
