<% title "Etiquetas gestionadas" %>
<% content_for  :actions do %>
  <% render_navigation :items => tags_actions, :renderer => :links %>
<% end %>
<table class="table" width="75%">
  <tr class="head">
    <th>Etiquetas</th>
    <th>Descripción</th>
    <th>Activos asociados</th>
  </tr>

  <%
      even = 1
  for tag in @tags
    even = 1 - even
  %>
<tr class="<%= (even == 0 ? 'even' : 'odd') %>">
  <td><%= link_to(h(tag),tag) %></td>
  <td><%= tag.description %></td>
  <td><%= tag.activos.length %></td>
  <% if logged_in? %>
    <td class="actions">
      <%= link_to(
        content_tag(:i,"",:class => "icon-edit", :title => "Editar"),
          edit_tag_path(tag)) %>
        <%= link_to(
          content_tag(:i,"",:class => "icon-trash",:title => "Borrar" ),
          tag,:confirm => "¿Está seguro de borrar la etiqueta?",
          :method => :delete,
          :id => tag.id) -%>
    </td>
  <% end %>
</tr>
  <% end %>
</table>
