<% title "Etiquetas gestionadas (#{Tag.count})" %>
<% content_for  :actions do %>
  <% render_navigation :items => tags_actions, :renderer => :links %>
<% end %>
<table class="table table-condensed">
  <thead>
  <tr>
    <th>Etiqueta</th>
    <th>Descripción</th>
    <th>Nº activos</th>
  </tr>
</thead>
<tbody>
  <% for tag in @tags %>
  <tr>
    <td><%= link_to(h(tag),tag) %></td>
    <td><%= tag.description %></td>
    <td><%= tag.activos.length %></td>
    <% if logged_in? %>
      <td class="actions">
        <%= link_to(
          content_tag(:i,"",:class => "icon-edit", :title => "Editar"),
          edit_tag_path(tag)) %>
        <%= link_to(
          content_tag(:i,"",:class => "icon-trash",:title => "Borrar" ),
          tag,:confirm => "¿Está seguro de borrar la etiqueta?",
          :method => :delete,
          :id => tag.id) -%>
      </td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
