<table class="table table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Etiquetas</th>
      <th>IP's</th>
    </tr>
  </thead>
  <tbody>
    <% for activo in @activos %>
      <tr>
        <td>
          <% if logged_in? %>
          <%= link_to(
            content_tag(:i,"",:class => "icon-edit"),
            edit_activo_path(activo),
            :title => "Editar") -%>
          <%= link_to(
            content_tag(:i,"",:class => "icon-trash"),
            activo,:confirm => "¿Está seguro de borrar el activo?",
            :method => :delete,
            :title => "Borrar") -%>
          <% end %>
          <%= link_to(h(activo.name),activo) %>
        </td>

        <td><%= activo.description %></td>
        <td><%= render :inline => tags_list(activo) %></td>
        <td><%= activo.sips.length %></td>
      </tr>
    <% end %>
  </tbody>
</table>
